@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FactorBFOblique';
    src: url('/fonts/Factor-BF-Oblique-W01-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers-Extended Regular';
    src: url('/fonts/Univers-Extended Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostyle';
    src: url('/fonts/Eurostyle Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adecion-Regular';
    src: url('/fonts/Adecion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

